.type-1817 {
  opacity: 0.7; }
  .type-1817 .bder_rg, .type-1817 .bder_login {
    padding: 0 30px 30px; }
  .type-1817 .bder_login {
    border-right: 1px solid #ddd; }
  .type-1817 .uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px; }
  .type-1817 .link {
    color: #3b5b81; }
    .type-1817 .link:hover {
      color: #111111;
      text-decoration: none; }
  .type-1817 .forms .margins {
    margin-bottom: 8px; }
    .type-1817 .forms .margins .lbl {
      color: #222;
      font-weight: 700;
      font-size: 14px; }
    .type-1817 .forms .margins .btn {
      background-color: #446084;
      color: #fff;
      text-transform: uppercase;
      padding: 8px 19px;
      font-weight: bolder; }
    .type-1817 .forms .margins .input_checkbox, .type-1817 .forms .margins .input_text {
      margin-bottom: 16px; }
    .type-1817 .forms .margins .input_text {
      height: 40px;
      width: 100%;
      border: 1px solid #ddd; }
    .type-1817 .forms .margins .rg_text {
      font-size: 85%; }
