$color_bg: #f4f4f4;
.type-1836 {
    background: $color_bg;

    & .content {
        width: 72%;
        text-align: center;
        margin: auto;
        opacity: 0.6;
    }
    & .detail_text {
        font-size: 20px;
    }
    & .title_text {
        font-size: 25px;
    }
    & .div_img {
        
        transform: translateY(0px);
        padding-top: 30px;
        transition: 0.4s;
    

        &:hover {
            transform: translateY(-30px);
            transition: 0.4s;
            
        }
    }
}
