$color_price: #111;
$color_lbl: #222;
$color_bg_btn: #446084;
$color_btn: #fff;
$color_a: #3b5b81;
$color_a_hover: #111111;
$color_text: #ddd;

@mixin transfrom {
        text-transform: uppercase;
}

@mixin size($size) {
    font-size: $size;
}

.type-1817 {
    opacity: 0.7;
    .bder_rg { //css col register
       padding: 0 30px 30px;
    }
    .bder_login{ //css col login
        @extend .bder_rg;
         border-right: 1px solid $color_text;
    }
    .uppercase {
        @include transfrom();
        letter-spacing: 1px;
        @include size(20px) ;
    }

    .link {
        color: $color_a;
        &:hover {
            color: $color_a_hover;
            text-decoration: none;
        }
    }
    //Form
    .forms {

        .margins {//tao margin-bottom co <div>
            margin-bottom: 8px;
            .lbl {
                color: $color_lbl;
                font-weight: 700;
                @include size(14px) ;
            }
            .btn { //css button
                background-color: $color_bg_btn;
                color: $color_btn;
                @include transfrom();
                padding:8px 19px;
                font-weight: bolder;
            }
            .input_checkbox {
                margin-bottom: 16px;
            }
            .input_text {
                @extend .input_checkbox;
                height: 40px;
                width: 100%;
                border: 1px solid $color_text;
               
            }
            .rg_text {
                @include size(85%) ;
            }
        }
    }
}
