.type-1836 {
  background: #f4f4f4; }
  .type-1836 .content {
    width: 72%;
    text-align: center;
    margin: auto;
    opacity: 0.6; }
  .type-1836 .detail_text {
    font-size: 20px; }
  .type-1836 .title_text {
    font-size: 25px; }
  .type-1836 .div_img {
    transform: translateY(0px);
    padding-top: 30px;
    transition: 0.4s; }
    .type-1836 .div_img:hover {
      transform: translateY(-30px);
      transition: 0.4s; }
